<!DOCTYPE html>
<html>
  <head>
    <title>Dragontweet</title>
    <%= csrf_meta_tags %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Devise Flash Messages -->
    <% if notice %>
      <div class="notice-wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert-wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <!-- Pre Login / Post Login yield -->
    <%= content_for?(:post_login) ? yield(:post_login) : yield %>
    <!--
==================================== Documentation on "content_for?" =========================================================
content_for?(name) public
content_for? checks whether any content has been captured yet using `content_for`. Useful to render parts of your layout differently based on what is in your views.
https://apidock.com/rails/ActionView/Helpers/CaptureHelper/content_for%3F
    -->

    <%# yield %>

  </body>
</html>
